version: '3.9'
services:
  mongo:
    image: mongo:4
    container_name: PROJECT_NAME-mongo
    restart: unless-stopped
    volumes:
      - db:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=DB_USER
      - MONGO_INITDB_ROOT_PASSWORD=DB_PASS
      - MONGO_INITDB_DATABASE=PROJECT_NAME
    networks:
      - app-network
  project:
    depends_on:
      - mongo
    container_name: PROJECT_NAME
    restart: unless-stopped
    image: docker_user/project_name
    build:
      context: PROJECT_NAME
    env_file:
      - .env
    labels:
      - traefik.http.routers.PROJECT_NAME.rule=Host(`PROJECT_NAME.DOMAIN`)
      - traefik.http.routers.PROJECT_NAME.tls=true
      - traefik.http.routers.PROJECT_NAME.tls.certresolver=lets-encrypt
      - traefik.port=PROJECT_PORT
    volumes:
      - ./PROJECT_NAME:/home/node/app
      - node_modules:/home/node/app/node_modules
    networks:
      - app-network
      - traefik_web
    command: /home/node/app/node_modules/.bin/nodemon app.js

volumes:
  db:
  node_modules:

networks:
  traefik_web:
    external: true
  app-network:
    name: PROJECT_NAME-network
    external: false
